/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(images/mtrainer.jpg) repeat-x;
    text-align: left;
    font: 15px Arial, Helvetica, sans-serif;
    color: #626262;
}


h1, h1 a, h2, h2 a, h3, h3 a {
    margin: 0;
    text-decoration: none;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #FFFFFF;
}

h1 {
    letter-spacing: -1px;
    font-size: 2.2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-color: #FFFFFF;
    text-align: left;
}

p, ol, ul {
    margin-bottom: 2em;
    line-height: 200%;
}

a {
    color: #1692B8;
}

a:hover {
    text-decoration: none;
}

/* header */

div.header {
    height: 42px;
    background: linear-gradient(to right,
                        rgba(51, 102, 184, 1),
                        rgba(51, 102, 184, .2) 50%);
    position: left;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    text-color: #FFFFFF;

}

div.menu {
    float: right;
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.menu li {
    display: block;
    float: left;
    height: 42px;
}

div.menu a {
    display: block;
    padding: 8px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #CEC5A4;
}


/* Page */

div.page {
    padding: 40px 40px 0 40px;
}


/* Table --- may need to add div. before everything*/

table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
border-collapse: collapse;
border-spacing: 0;
border-color: transparent;
width: 100%;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s;  /* Simple transition for hover effect */
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */


/* Section --- may need to add div. before everything*/

section.floater {
background-color: rgba(51, 102, 184, .8);
height: 100%;
position: center;
padding-top: 25px;
padding-right: 50px;
padding-bottom: 25px;
padding-left: 50px;
color: #FFFFFF;
}

section.t-data-grid thead tr th {
     text-align: center;
     padding: 3px;
     white-space: nowrap;
     border-right: 1px solid transparent;
     border-bottom: 1px solid transparent;
     background-color: #DFDFDF;
     font-weight: bold;
}




/*  Shapes */

#rectangle {
	width: 200px;
	height: 100px;
	background: #3366B8;
}

#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid #3366B8;
	border-right: 100px solid transparent;
}
